# Arquivos do C#
*.csproj
*.suo
*.user
*.userosscache
*.sln.docstates
*.cache
*.vspscc
*.vssscc
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Arquivos do .NET
bin/
obj/
*.user
*.suo
*.exe
*.dll
*.pdb
*.cache
*.bak
_TestResults/

# Arquivos do Ubuntu
*~
.DS_Store

# Arquivos do C++
*.o 
*.lo 
*.la 
#*.
*.so 
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~ 
#*# .#*
.#* 
*.swp
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*